.gridBox{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.card{
    display: flex;
    width: 18rem;
    margin: 10px;
}
.currentLogo{
    width: 80px;
    height: 80px;
    margin: 20px;
}